@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Orelega One', cursive;
    @apply text-center;
  }

  h1 {
    @apply text-2xl py-8;
  }

  h2 {
    @apply text-xl py-4;
  }

  p {
    font-family: 'Montserrat', sans-serif;
  }
}

@layer components {
  .blockquote {
    @apply rounded-md bg-gray-100 p-4;
    width: 300px;
  }

  .blockquote figcaption {
    text-align: right;
    font-weight: 600;
  }

  .btn {
    color: #ffffff;
    outline: none;
    @apply bg-blue-400 rounded-md px-4 py-2 min-w-full sm:min-w-0;
    transition-duration: 200ms;
  }

  .btn:hover, .btn:focus, .btn:active {
    color: #ffffff;
    outline: none;
  }

  .btn:hover, .btn:focus {
    @apply bg-blue-500;
  }

  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }

  .btn:active {
    @apply bg-blue-600;
    transform: translateY(0);
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1), 0 5px 5px -5px rgba(0, 0, 0, 0.04);
  }

  .btn-success {
    @apply bg-green-400;
  }

  .btn-success:hover, .btn-success:focus {
    @apply bg-green-500;
  }

  .btn-success:active {
    @apply bg-green-600;
  }

  .btn-error {
    @apply bg-red-400;
  }

  .btn-error:hover, .btn-error:focus {
    @apply bg-red-500;
  }

  .btn-error:active {
    @apply bg-red-600;
  }

  .btn-secondary {
    @apply bg-gray-400;
  }

  .btn-secondary:hover, .btn-secondary:focus {
    @apply bg-gray-500;
  }

  .btn-secondary:active {
    @apply bg-gray-600;
  }

  .timer {
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    font-weight: 400;
  }
}
