@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Orelega+One&display=swap');

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Orelega One', cursive;
  }

  p {
    font-family: 'Montserrat', sans-serif;
  }
}

@layer components {
  .blockquote {
    @apply rounded-md bg-gray-100 p-4;
    width: 300px;
  }

  .blockquote figcaption {
    text-align: right;
    font-weight: 600;
  }

  .btn {
    color: #ffffff;
    outline: none;
    @apply bg-blue-400 rounded-md px-4 py-2;
  }

  .btn:hover, .btn:focus {
    color: #ffffff;
    @apply bg-blue-500 rounded-md px-4 py-2;
    outline: none;
  }

  .btn:active {
    color: #ffffff;
    @apply bg-blue-600 rounded-md px-4 py-2;
    outline: none;
  }
}
